<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>

<a href="/">Вернуться на главную страницу</a>
<hr/>

<div th:if="${client.name == null}">
    <a th:href="@{/clients/{id}/edit(id=${client.getId()})}"
       style="color: green">Заполнить данные профиля</a>
</div>

<div th:if="${client.name != null}">
    <h3 th:text="${client.name} + ', ' + ${client.birthdate}">client</h3>
</div>

<hr/>
<a href="/clients">Вернуться</a>

</body>
</html>