<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>

<h1>Домашняя страница</h1>

<a th:text="${client.getUsername()}"
   th:href="@{/clients/{id}(id=${client.getId()})}"
   style="position: absolute; right: 20px; bottom: 0; top: 30px">client
</a>

<a href="/logout"
   style="color: red; position: absolute; right: 20px; bottom: 0; top: 50px">
    Выйти
</a>

<hr/>
<a href="/clients">Клиенты</a>

</body>
</html>